<%-include('../partials/header.ejs')%>

<div>
    <br>
    <hr>
    <h1><%=newN.username%></h1>
    <h1><%=newN.Image%></h1>
    <h1><%=newN.about%></h1>
    <br>
</div>
<%-include('../partials/foother.ejs')%>
